/* --- Colors --- */
/*
main color:
light color: #
grey: #
*/

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
.container {
  max-width: 1500px;
  margin: auto;
}
img {
  max-width:100%;
}
.gallery-item {
  background: #DCDCDC;
  width: 21rem;
  height: auto;
  display: inline-block;
  margin: 1rem;
}

@media only screen and (max-width: 700px){
    .container {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .container {
        width: 100%;
    }
}
