/* --- Colors --- */
/*
main color:
light color: #
grey: #
*/

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.container {
  max-width: 800px;
  margin: auto;
}
img {
  max-width:100%;
}
.gallery-item {
  background: #DCDCDC;
  width: 500px;
  height: auto;
  display: inline-block;
  margin: 1rem;
}
